/* REVEAL ******************************************************************/

.reveal {
    font-family: sans-serif;
    font-size: 35px;
    height: calc(100% - 100px);
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    text-transform: none;
}

.reveal h1 {
    font-size: 3em;
}

.reveal h2 {
    font-size: 1.8em;
}

.reveal h3 {
    font-size: 1.5em;
}

.reveal h4 {
    font-size: 1.25em;
}

.reveal h5 {
    font-size: 1.2em;
}

.reveal .figure-caption {
    font-size: 0.5em;
    color: #666;
}

.reveal section.background {
    background-color: rgba(0, 0, 0, 0.75);
}

.reveal .background h4,
.reveal .background h5,
.reveal .background p {
    color: white;
    /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, 0px 0px 5px white;*/
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.reveal .figure {
    float: left;
    margin: 20px;
    border: 2px solid #222;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.9);
}

.reveal .sound_clip {
    display: inline-block;
    text-align: center;
    width: 200px;
    vertical-align: top;
}

.reveal .sound_clip.smaller {
    width: 150px;
}

.reveal .sound_clip.smaller span {
    font-size: smaller;
    font-weight: bold;
}

.reveal .sound_clip.smaller img {
    margin: 0;
}

.reveal .sound_clip audio {
    width: 191px;
}

.reveal .sound_clip.smaller audio {
    width: 141px;
}

.reveal .sound_clip img {
    width: 200px;
}

.reveal .no_border {
    border: none;
    box-shadow: none;
}

.reveal .smaller {
    font-size: smaller;
}

.reveal pre code {
    padding: 10px;
    max-height: none;
}

.reveal p > code {
    background-color: #333;
    color: #fff;
    padding: 0 5px;
}

.reveal mark {
    background-color: gray;
    font-weight: bold;
}

.reveal mark span {
    color: black;
}

.reveal mark.highlight-current-blue.visible.current-fragment {
    background-color: white;
    color: black;
    font-weight: bold;
}

.reveal img.float {
    border: none;
    width: 25%;
    float: left;
    padding: 20px;
    margin: 0 20px;
}

/* FORMAT ******************************************************************/

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

/* FOOTER ******************************************************************/

footer {
    transition: background-color 1000ms;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100px;
    display: block;
    background-color: #072940;
    width: 100%;
    white-space: nowrap;
    vertical-align: middle;
}

footer a {
    color: white;
}

footer .logo {
    height: 80px;
    margin: 10px;
    vertical-align: middle;
}

footer .devoxx {
    height: 50px;
    margin: 25px 50px;
    vertical-align: middle;
}

footer .title {
    display: inline-block;
    vertical-align: middle;
    color: #fafafa;
    font-weight: bold;
    font-family: monospace;
    font-size: 1.75em;
}

footer .title .subtitle {
    font-size: 0.75em;
}

footer .title.right {
    margin-left: 1em;
}


/* COLORS ******************************************************************/

.color-magenta-blue {
    color: #072940;
}

.color-magenta {
    color: #4c1130ff;
}
