.color-00d254 { color: #00d254; }
.color-2ad22a { color: #2ad22a; }
.color-2ad254 { color: #2ad254; }
.color-54d200 { color: #54d200; }
.color-54d22a { color: #54d22a; }
.color-7e00a8 { color: #7e00a8; }
.color-7e00d2 { color: #7e00d2; }
.color-7ea800 { color: #7ea800; }
.color-7ed200 { color: #7ed200; }
.color-a8007e { color: #a8007e; }
.color-a800a8 { color: #a800a8; }
.color-a87e00 { color: #a87e00; }
.color-a8a800 { color: #a8a800; }
.color-d20054 { color: #d20054; }
.color-d2007e { color: #d2007e; }
.color-d22a2a { color: #d22a2a; }
.color-d22a54 { color: #d22a54; }
.color-d25400 { color: #d25400; }
.color-d2542a { color: #d2542a; }
.color-d27e00 { color: #d27e00; }
