.color-0087ff { color: #0087ff; }
.color-00afd7 { color: #00afd7; }
.color-00afff { color: #00afff; }
.color-00d7af { color: #00d7af; }
.color-00d7d7 { color: #00d7d7; }
.color-00ff87 { color: #00ff87; }
.color-00ffaf { color: #00ffaf; }
.color-5f5fff { color: #5f5fff; }
.color-5f87ff { color: #5f87ff; }
.color-5fff5f { color: #5fff5f; }
.color-5fff87 { color: #5fff87; }
.color-8700ff { color: #8700ff; }
.color-875fff { color: #875fff; }
.color-87ff00 { color: #87ff00; }
.color-87ff5f { color: #87ff5f; }
.color-afd700 { color: #afd700; }
.color-afff00 { color: #afff00; }
.color-bbb { color: #bbb; }
.color-d7af00 { color: #d7af00; }
.color-d7d700 { color: #d7d700; }
.color-ffaf00 { color: #ffaf00; }
