---
---

/*******************************************************/
/* NORMALIZE
/*******************************************************/

html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:0.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace, monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace, monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-0.25em}sup{top:-0.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type="button"],[type="reset"],[type="submit"],button{-webkit-appearance:button}[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:0.35em 0.75em 0.625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}[type="search"]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}

/*******************************************************/
/* MATERIAL DESIGN COLORS
/*******************************************************/

/*
gray-50  #FAFAFA
gray-100 #F5F5F5
gray-200 #EEEEEE
gray-300 #E0E0E0
gray-400 #BDBDBD
gray-500 #9E9E9E
gray-600 #757575
gray-700 #616161
gray-800 #424242
gray-900 #212121

brown-50  #EFEBE9
brown-100 #D7CCC8
brown-200 #BCAAA4
brown-300 #A1887F
brown-400 #8D6E63
brown-500 #795548
brown-600 #6D4C41
brown-700 #5D4037
brown-800 #4E342E
brown-900 #3E2723

red-50   #FFEBEE
red-100  #FFCDD2
red-200  #EF9A9A
red-300  #E57373
red-400  #EF5350
red-500  #F44336
red-600  #E53935
red-700  #D32F2F
red-800  #C62828
red-900  #B71C1C
red-A100 #FF8A80
red-A200 #FF5252
red-A400 #FF1744
red-A700 #D50000

pink-50   #FCE4EC
pink-100  #F8BBD0
pink-200  #F48FB1
pink-300  #F06292
pink-400  #EC407A
pink-500  #E91E63
pink-600  #D81B60
pink-700  #C2185B
pink-800  #AD1457
pink-900  #880E4F
pink-A100 #FF80AB
pink-A200 #FF4081
pink-A400 #F50057
pink-A700 #C51162

purple-50   #F3E5F5
purple-100  #E1BEE7
purple-200  #CE93D8
purple-300  #BA68C8
purple-400  #AB47BC
purple-500  #9C27B0
purple-600  #8E24AA
purple-700  #7B1FA2
purple-800  #6A1B9A
purple-900  #4A148C
purple-A100 #EA80FC
purple-A200 #E040FB
purple-A400 #D500F9
purple-A700 #AA00FF

deep-purple-50   #EDE7F6
deep-purple-100  #D1C4E9
deep-purple-200  #B39DDB
deep-purple-300  #9575CD
deep-purple-400  #7E57C2
deep-purple-500  #673AB7
deep-purple-600  #5E35B1
deep-purple-700  #512DA8
deep-purple-800  #4527A0
deep-purple-900  #311B92
deep-purple-A100 #B388FF
deep-purple-A200 #7C4DFF
deep-purple-A400 #651FFF
deep-purple-A700 #6200EA

indigo-50   #E8EAF6
indigo-100  #C5CAE9
indigo-200  #9FA8DA
indigo-300  #7986CB
indigo-400  #5C6BC0
indigo-500  #3F51B5
indigo-600  #3949AB
indigo-700  #303F9F
indigo-800  #283593
indigo-900  #1A237E
indigo-A100 #8C9EFF
indigo-A200 #536DFE
indigo-A400 #3D5AFE
indigo-A700 #304FFE

blue-50   #E3F2FD
blue-100  #BBDEFB
blue-200  #90CAF9
blue-300  #64B5F6
blue-400  #42A5F5
blue-500  #2196F3
blue-600  #1E88E5
blue-700  #1976D2
blue-800  #1565C0
blue-900  #0D47A1
blue-A100 #82B1FF
blue-A200 #448AFF
blue-A400 #2979FF
blue-A700 #2962FF

light-blue-50   #E1F5FE
light-blue-100  #B3E5FC
light-blue-200  #81D4FA
light-blue-300  #4FC3F7
light-blue-400  #29B6F6
light-blue-500  #03A9F4
light-blue-600  #039BE5
light-blue-700  #0288D1
light-blue-800  #0277BD
light-blue-900  #01579B
light-blue-A100 #80D8FF
light-blue-A200 #40C4FF
light-blue-A400 #00B0FF
light-blue-A700 #0091EA

cyan-50   #E0F7FA
cyan-100  #B2EBF2
cyan-200  #80DEEA
cyan-300  #4DD0E1
cyan-400  #26C6DA
cyan-500  #00BCD4
cyan-600  #00ACC1
cyan-700  #0097A7
cyan-800  #00838F
cyan-900  #006064
cyan-A100 #84FFFF
cyan-A200 #18FFFF
cyan-A400 #00E5FF
cyan-A700 #00B8D4

teal-50   #E0F2F1
teal-100  #B2DFDB
teal-200  #80CBC4
teal-300  #4DB6AC
teal-400  #26A69A
teal-500  #009688
teal-600  #00897B
teal-700  #00796B
teal-800  #00695C
teal-900  #004D40
teal-A100 #A7FFEB
teal-A200 #64FFDA
teal-A400 #1DE9B6
teal-A700 #00BFA5

green-50   #E8F5E9
green-100  #C8E6C9
green-200  #A5D6A7
green-300  #81C784
green-400  #66BB6A
green-500  #4CAF50
green-600  #43A047
green-700  #388E3C
green-800  #2E7D32
green-900  #1B5E20
green-A100 #B9F6CA
green-A200 #69F0AE
green-A400 #00E676
green-A700 #00C853

light-green-50   #F1F8E9
light-green-100  #DCEDC8
light-green-200  #C5E1A5
light-green-300  #AED581
light-green-400  #9CCC65
light-green-500  #8BC34A
light-green-600  #7CB342
light-green-700  #689F38
light-green-800  #558B2F
light-green-900  #33691E
light-green-A100 #CCFF90
light-green-A200 #B2FF59
light-green-A400 #76FF03
light-green-A700 #64DD17

lime-50   #F9FBE7
lime-100  #F0F4C3
lime-200  #E6EE9C
lime-300  #DCE775
lime-400  #D4E157
lime-500  #CDDC39
lime-600  #C0CA33
lime-700  #AFB42B
lime-800  #9E9D24
lime-900  #827717
lime-A100 #F4FF81
lime-A200 #EEFF41
lime-A400 #C6FF00
lime-A700 #AEEA00

yellow-50   #FFFDE7
yellow-100  #FFF9C4
yellow-200  #FFF59D
yellow-300  #FFF176
yellow-400  #FFEE58
yellow-500  #FFEB3B
yellow-600  #FDD835
yellow-700  #FBC02D
yellow-800  #F9A825
yellow-900  #F57F17
yellow-A100 #FFFF8D
yellow-A200 #FFFF00
yellow-A400 #FFEA00
yellow-A700 #FFD600

amber-50   #FFF8E1
amber-100  #FFECB3
amber-200  #FFE082
amber-300  #FFD54F
amber-400  #FFCA28
amber-500  #FFC107
amber-600  #FFB300
amber-700  #FFA000
amber-800  #FF8F00
amber-900  #FF6F00
amber-A100 #FFE57F
amber-A200 #FFD740
amber-A400 #FFC400
amber-A700 #FFAB00

orange-50   #FFF3E0
orange-100  #FFE0B2
orange-200  #FFCC80
orange-300  #FFB74D
orange-400  #FFA726
orange-500  #FF9800
orange-600  #FB8C00
orange-700  #F57C00
orange-800  #EF6C00
orange-900  #E65100
orange-A100 #FFD180
orange-A200 #FFAB40
orange-A400 #FF9100
orange-A700 #FF6D00

deep-orange-50   #FBE9E7
deep-orange-100  #FFCCBC
deep-orange-200  #FFAB91
deep-orange-300  #FF8A65
deep-orange-400  #FF7043
deep-orange-500  #FF5722
deep-orange-600  #F4511E
deep-orange-700  #E64A19
deep-orange-800  #D84315
deep-orange-900  #BF360C
deep-orange-A100 #FF9E80
deep-orange-A200 #FF6E40
deep-orange-A400 #FF3D00
deep-orange-A700 #DD2C00
*/

/*******************************************************/
/* MAIN
/*******************************************************/

html {
    animation: background 10000s infinite;
    background-color: #FAFAFA;
    /* background-image: linear-gradient(to bottom right, #000000, #c43d20, #ef9e44, #f1faf9, #82c7f1, #064564, #000000) */
    /* background-image: radial-gradient(ellipse at top right, #000000, #c43d20, #ef9e44, #f1faf9, #82c7f1, #064564, #000000) */
    color: #212121;
    font-family: monospace;
    font-size: 15px;
    height: 100%;
    line-height: 24px;
    overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6 {
    clear: both;
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 16px;
    margin-top: 24px;
    padding: 0 5px;
    transition: background 2500ms, color 2500ms;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #0D47A1;
}

h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover {
    background-color: #B71C1C;
    color: #FFFFFF;
}

h1:hover a, h2:hover a, h3:hover a, h4:hover a, h5:hover a, h6:hover a {
    color: #FFFFFF;
}

.page-header h1 {
    background-color: #212121;
    text-align: right;
    font-size: 21px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.page-header h1 a {
    color: white;
}

h1 {
    background-color: #424242;
    color: #FFFFFF;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

h2 {
    background-color: #E0E0E0;
    font-size: 19px;
    padding-top: 4px;
    padding-bottom: 4px;
}

h3 {
    background-color: #EEEEEE;
    font-size: 18px;
    padding-top: 3px;
    padding-bottom: 3px;
}

h4 {
    background-color: #F5F5F5;
    font-size: 17px;
    padding-top: 2px;
    padding-bottom: 2px;
}

h5 {
    background-color: #FAFAFA;
    font-size: 16px;
    padding-top: 1px;
    padding-bottom: 1px;
}

h6 {
    background-color: #FAFAFA;
}

a {
    color: #222222;
}

p {
    text-align: justify;
}

img {
    box-shadow: 0 0 5px gray;
    float: left;
    margin: 0 20px 20px 0;
    max-width: 100%;
}

code.highlighter-rouge {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27,31,35,0.05);
    border-radius: 3px
}

iframe.star {
    height: 20px;
    width: 100px;
}

iframe.slides {
    height: 50vw;
    max-height: 430px;
    width: 100%;
}

iframe.video {
    height: 50vw;
    max-height: 430px;
    width: 100%;
}

blockquote {
    border: 1px dashed #9E9E9E;
    color: #414141;
    padding: 5px 25px;
}

blockquote a {
    padding: 0px;
}

table {
    background-color: white;
    border-collapse: collapse;
    box-shadow: 0 0 5px gray;
    margin: 5px;
}

table, th, td {
    border: 1px solid #9E9E9E;
}

th, td {
    padding: 5px;
}

footer {
    background-color: white;
    border: 3px dashed #9E9E9E;
    color: #333;
    font-size: 12px;
    margin: 50px 0 20px 0;
    padding: 0 5px;
    text-align: center;
    clear: both;
}

footer a {
    color: #9E9E9E;
}

.page-header,
.main-content {
    max-width: 768px;
    margin-right: auto;
    margin-left: auto;
}

.main-content > p {
    padding: 0 5px;
}

.main-content > ul {
    padding: 0 0 0 20px;
}

p.columns-two ~ div.highlighter-rouge,
span.columns-two img {
    /* Value 5px is half the margin value between the cols */
    display: inline-block;
    margin-right: 0;
    vertical-align: top;
    width: calc(50% - 5px)
}

span.columns-two img:first-child {
    /* Value 10px is the margin value between the cols */
    /* code blocks have space between they don't need margin */
    margin-right: 10px;
}

span.icon:before {
    display: inline-block;
    height: 20px;
    margin: 0 5px 0 0;
    vertical-align: middle;
    width: 20px;
}

span.icon-github:before {
    content: url("/assets/img/icon-github.svg");
}

span.icon-link:before {
    content: url("/assets/img/icon-link.svg");
}

span.icon-slideshare:before {
    content: url("/assets/img/icon-slideshare.svg");
}

span.icon-website:before {
    content: url("/assets/img/icon-website.svg");
}

span.icon-youtube:before {
    content: url("/assets/img/icon-youtube.svg");
}

span.icon-id:before {
    content: url("/assets/img/icon-id.svg");
}

span.icon-soundcloud:before {
    content: url("/assets/img/icon-soundcloud.svg");
}

/*******************************************************/
/* BACKGROUND COLOR
/*******************************************************/

@keyframes background {
    0% {
        background-color: #FAFAFA;
    }
    15% {
        background-color: #FBE9E7;
    }
    20% {
        background-color: #FFF3E0;
    }
    25% {
        background-color: #FFF8E1;
    }
    30% {
        background-color: #FFFDE7;
    }
    35% {
        background-color: #F9FBE7;
    }
    40% {
        background-color: #F1F8E9;
    }
    45% {
        background-color: #E8F5E9;
    }
    50% {
        background-color: #E0F2F1;
    }
    55% {
        background-color: #E0F7FA;
    }
    60% {
        background-color: #E1F5FE;
    }
    65% {
        background-color: #E3F2FD;
    }
    70% {
        background-color: #E8EAF6;
    }
    75% {
        background-color: #EDE7F6;
    }
    80% {
        background-color: #F3E5F5;
    }
    85% {
        background-color: #FCE4EC;
    }
    90% {
        background-color: #FFEBEE;
    }
    95% {
        background-color: #EFEBE9;
    }
    100% {
        background-color: #FAFAFA;
    }
}

/*******************************************************/
/* HIGHLIGHT CODE
/*******************************************************/


.highlight table td {
    padding:5px
}

.highlight table pre {
    margin:0
}

.highlight .cm {
    color:#999988;
    font-style:italic
}

.highlight .cp {
    color:#999999;
    font-weight:bold
}

.highlight .c1 {
    color:#999988;
    font-style:italic
}

.highlight .cs {
    color:#999999;
    font-weight:bold;
    font-style:italic
}

.highlight .c,.highlight .cd {
    color:#999988;
    font-style:italic
}

.highlight .err {
    color:#a61717;
    background-color:#e3d2d2
}

.highlight .gd {
    color:#000000;
    background-color:#ffdddd
}

.highlight .ge {
    color:#000000;
    font-style:italic
}

.highlight .gr {
    color:#aa0000
}

.highlight .gh {
    color:#999999
}

.highlight .gi {
    color:#000000;
    background-color:#ddffdd
}

.highlight .go {
    color:#888888
}

.highlight .gp {
    color:#555555
}

.highlight .gs {
    font-weight:bold
}

.highlight .gu {
    color:#aaaaaa
}

.highlight .gt {
    color:#aa0000
}

.highlight .kc {
    color:#000000;
    font-weight:bold
}

.highlight .kd {
    color:#000000;
    font-weight:bold
}

.highlight .kn {
    color:#000000;
    font-weight:bold
}

.highlight .kp {
    color:#000000;
    font-weight:bold
}

.highlight .kr {
    color:#000000;
    font-weight:bold
}

.highlight .kt {
    color:#445588;
    font-weight:bold
}

.highlight .k,.highlight .kv {
    color:#000000;
    font-weight:bold
}

.highlight .mf {
    color:#009999
}

.highlight .mh {
    color:#009999
}

.highlight .il {
    color:#009999
}

.highlight .mi {
    color:#009999
}

.highlight .mo {
    color:#009999
}

.highlight .m,.highlight .mb,.highlight .mx {
    color:#009999
}

.highlight .sb {
    color:#d14
}

.highlight .sc {
    color:#d14
}

.highlight .sd {
    color:#d14
}

.highlight .s2 {
    color:#d14
}

.highlight .se {
    color:#d14
}

.highlight .sh {
    color:#d14
}

.highlight .si {
    color:#d14
}

.highlight .sx {
    color:#d14
}

.highlight .sr {
    color:#009926
}

.highlight .s1 {
    color:#d14
}

.highlight .ss {
    color:#990073
}

.highlight .s {
    color:#d14
}

.highlight .na {
    color:#008080
}

.highlight .bp {
    color:#999999
}

.highlight .nb {
    color:#0086B3
}

.highlight .nc {
    color:#445588;
    font-weight:bold
}

.highlight .no {
    color:#008080
}

.highlight .nd {
    color:#3c5d5d;
    font-weight:bold
}

.highlight .ni {
    color:#800080
}

.highlight .ne {
    color:#990000;
    font-weight:bold
}

.highlight .nf {
    color:#990000;
    font-weight:bold
}

.highlight .nl {
    color:#990000;
    font-weight:bold
}

.highlight .nn {
    color:#555555
}

.highlight .nt {
    color:#000080
}

.highlight .vc {
    color:#008080
}

.highlight .vg {
    color:#008080
}

.highlight .vi {
    color:#008080
}

.highlight .nv {
    color:#008080
}

.highlight .ow {
    color:#000000;
    font-weight:bold
}

.highlight .o {
    color:#000000;
    font-weight:bold
}

.highlight .w {
    color:#bbbbbb
}

.highlight {
    background-color:#f8f8f8
}

.highlight pre {
    border: 1px dashed #ccc;
    overflow: auto;
    padding: 5px;
}

/*******************************************************/
/* MEDIA QUERY
/*******************************************************/

@media only screen and (max-width: 768px) {
    html {
        font-size: 14px;
        line-height: 22px;
    }
}

@media only screen and (min-width: 768px) {
    .fullscreen:before {
        color: #333;
        content: '(hover image for fullscreen)';
        display: block;
        font-size: small;
        font-weight: bold;
        text-align: center;
    }

    .fullscreen:hover {
        background-color: #333;
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
    }

    .fullscreen:hover:before {
        color: #ccc;
        content: '(mouse pointer outside of window to exit fullscreen)';
    }

    .fullscreen:hover img {
        height: 100%;
        width: 100%;
    }
}

