<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/header.css' }}">
  </head>
  <body>
    <header class="page-header" role="banner">
      <a href="https://alexandredubreuil.com"><pre style="color-bbb;white-space:pre-wrap;word-wrap:break-word;overflow-wrap:break-word">{% include header.html %}</pre></a>
    </header>
    <main id="content" class="main-content" role="main">
      {{ content }}
      <footer class="site-footer">
        <div>
          <a href="/contact">Contact</a> /
          <a href="/publications">Publications</a> /
          <a href="/conferences">Conferences</a> /
          <a href="/music">Music</a> /
          <a href="/projects">Projects</a> /
          <a href="/resume/pdf">Resume</a>
        </div>
        <div>
          Website <a href="{{ site.github.repository_url }}">source code</a>,
          it doesn't track you and it doesn't use Javascript.
        </div>
      </footer>
    </main>
  </body>
</html>
